POSTGRES_USER=postgres
POSTGRES_PASSWORD=pg
POSTGRES_DB=scm_mvp

DATABASE_URL=postgresql+psycopg2://postgres:pg@localhost:5432/scm_mvp
DEFAULT_CONTRACT_DURATION_D=180

SUPERSET_SECRET_KEY=change_me

VITE_PROXY_TARGET=http://localhost:8000